

.product-image img {

   
   display: block;
   max-width: 100%;
  
   
}


.container {
    display: flex;
    justify-content: center;
    max-width: 35rem;
    
}

.product-info {
    
   background-color: white; 
   
}

h4 {
    
}

body {
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}